* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color : darkblue;
  font-family: 'Bungee Shade', sans-serif;
}



canvas {
background-color: black;
}
